.top-links {
  text-align: center;
  font-size: $f-size-xs;
  display: none;
  .links {
    ul {
      list-style: none;
      text-transform: uppercase;
      li {
        display: inline-block;
        letter-spacing: -1px;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  } 
}

$search-size-w: 35px;
$search-size-h: 35px;

.top-links-mobile {

  display: none !important;

  position: absolute;
  top: 0;
  height: 60px; // Header height
  right: $trim-small - 3px; // top links have 3 px of padding, subtract that to line them up with the right side
  opacity: 0.9; // Tone these down a little bit since they're solid black;
  .top-link-mobile {
    &.search {
      display: inline-block;
      position: relative;
      width: $search-size-w;
      height: $search-size-h;
      padding: 6px;
      top: 12px;
      // Circular part
      &:before {
        content: "";
        position: absolute;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid $c-black;
        top: 8px;
        left: 8px;
      }
      // Handle part
      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 7px;
        background-color: $c-black;
        top: 21px;
        right: 8px;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
      }
    }
    &.bag {
      display: inline-block;
      position: relative;
      width: 29px;
      height: 35px;
      padding: 6px 0 6px 6px;
      top: 12px;
      background-image: url(./images/icon-shopping-bag.png);
      background-size: 18px 21px;
      background-repeat: no-repeat;
      background-position: 5px 4px;
    }
  }
}
.top-link-mobile-bag-count {
  position: absolute;
  bottom: 0px;
  right: -3px;
  background-color: $c-white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $c-black;
  font-size: 11px;
  color: $c-black;
  line-height: 18px;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  &.hideme {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 250ms ease;
            transition: all 250ms ease;
  }
}

// RWD CSS is annoying, they throw in a randow breakpoint at 480px for some reason to increase content padding on the left and right, see _common.scss:755
@include bp(min-width, 480px) {
    .top-links-mobile {
        right: $trim - 3px;
    }
}

@include bp(min-width, $bp-medium + 1) {
  .top-links {
    display: block;
    margin-top: 7px;
    text-align: right;
  }
  .top-links-mobile {
    display: none;
  }
}